.Contenido h1{
    text-align: center;
    margin-top:5px ;
    color: white;
    font-family: 'Orelega One', cursive;
    font-size: 25px;
}

.Contenido h2{
    text-align: center;
    margin-bottom: 100px;
    color: white;
    font-family: 'Orelega One', cursive;
    font-size: 25px;
}

.Contenido img{
    margin: 10% 30% 1% 43%;
    display:block;
    width: 200px;
    height: 200px;
    border-radius: 100% 100% 100% 100%;
    padding: 5px 5px 5px 5px;
    border style: solid;
    background: white; 
}

body{
    background-image: url(Img/stone.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-orientation: 400px 400px ;
}